#Library and Build files from ARVRsuits (VR Code)
ARVRsuits/Library/
!ARVRsuits/Library/LastSceneManagerSetup.txt

ARVRsuits/Temp/
ARVRsuits/Obj/
ARVRsuits/Build/
ARVRsuits/Builds/
ARVRsuits/Assets/AssetStoreTools*

#Library and Build files from MixedRealityBase_Israel (VR Code)
MixedRealityBase_Israel/Library/
!MixedRealityBase_Israel/Library/LastSceneManagerSetup.txt

MixedRealityBase_Israel/Temp/
MixedRealityBase_Israel/Obj/
MixedRealityBase_Israel/Build/
MixedRealityBase_Israel/Builds/
MixedRealityBase_Israel/Assets/AssetStoreTools*

#Library and Build files from Leap Motion and ZED Mini Examples Folder (UI Team Code)
Leap_Motion_and_ZED_Example/Library/
!Leap_Motion_and_ZED_Example/Library/LastSceneManagerSetup.txt

Leap_Motion_and_ZED_Example/Temp/
Leap_Motion_and_ZED_Example/Obj/
Leap_Motion_and_ZED_Example/Build/
Leap_Motion_and_ZED_Example/Builds/
Leap_Motion_and_ZED_Example/Assets/AssetStoreTools*

#Library and Build files from ModelExplorer (AR Code)
ModelExplorer/Library/
!ModelExplorer/Library/LastSceneManagerSetup.txt

ModelExplorer/Temp/
ModelExplorer/Obj/
ModelExplorer/Build/
ModelExplorer/Builds/
ModelExplorer/Assets/AssetStoreTools*

#Library and Build files from ModelExplorer (AR Code)
ResearchTeam/ModelExplorer/Library/
!ResearchTeam/ModelExplorer/Library/LastSceneManagerSetup.txt

ResearchTeam/ModelExplorer/Temp/
ResearchTeam/ModelExplorer/Obj/
ResearchTeam/ModelExplorer/Build/
ResearchTeam/ModelExplorer/Builds/
ResearchTeam/ModelExplorer/Assets/AssetStoreTools*

#Library and Build files from Suits_Research (AR Code)
SUITS_Research/Library/
!SUITS_Research/Library/LastSceneManagerSetup.txt

SUITS_Research/Temp/
SUITS_Research/Obj/
SUITS_Research/Build/
SUITS_Research/Builds/
SUITS_Research/Assets/AssetStoreTools*

# Visual Studio cache directory
.vs/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage
ModelExplorer/Assets/4keva\.mp4\.meta

ModelExplorer/Assets/4keva\.mp4
*.info
